input[type="text"],
select {
  width: 75%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid rgb(51, 46, 46);
  border-radius: 4px;
  box-sizing: border-box;
}

b {
  color: white;
}

button {
  width: 25%;
  background-color: #281f2b;
  color: rgb(245, 239, 239);
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #401758;
}

div {
  text-align: center;
  margin: auto;
  width: 50%;
  border-radius: 5px;
  background-color: #120f0f;
  color: rgb(255, 251, 251);
  padding: 20px;
}
